
{% extends 'header.html' %}
{% load static %}


{% block content %} 


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{% if messages %}
{% for message in messages %}
  <script>
    console.log("Django message:", "{{ message|escapejs }}"); // Debug log for messages
    Toastify({
      text: "{{ message|escapejs }}",
      duration: 5000,
      close: true,
      gravity: "top",
      position: "right",

      backgroundColor: "{% if message.tags == 'success' %}#4CAF50{% elif message.tags == 'error' %}#F44336{% else %}#FFC107{% endif %}",
      stopOnFocus: true,
    
      style: {
        width: "350px", 
        marginTop: "45px"
      }
    }).showToast();
 
  </script>
{% endfor %}
{% endif %}
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 intro-text">
    <h1>Home Construction<br>
        & Remodeling</h1>
    <p>"Expert home construction and remodeling services. Transforming spaces with quality craftsmanship. Your dream home, built to perfection!"</p>
    <a href="{% url 'about' %}" class="btn btn-custom btn-lg">Learn More</a>
</div>
      </div>
    </div>
  </div>
</header>
<!-- Get Touch Section -->
<div id="get-touch">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-1">
        <h3>Cost for your home renovation project</h3>
        <p>Get started today and complete our form to request your free estimate</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center"><a href="#contact" class="btn btn-custom btn-lg page-scroll">Free Estimate</a></div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" defer></script>
<script src="{% static 'js/SmoothScroll.min.js' %}" defer></script>
<script src="{% static 'js/nivo-lightbox.min.js' %}" async></script>
<script src="{% static 'js/jqBootstrapValidation.min.js' %}" async></script>
<script src="{% static 'js/contact_me.js' %}" defer></script>
<script src="{% static 'js/main.js' %}" defer></script>
</body>
</html>

{% endblock %}